# Python
__pycache__
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.log

# SQLite
*.db
*.sqlite3

# PostgreSQL/MySQL dumps
*.psql
*.sql
*.dump

# Virtual environments
.venv/
env/
venv/
ENV/
.venv.bak/

# Poetry
poetry.lock

# VSCode
.vscode/

# Pytest
.cache/
.pytest_cache/
.coverage
htmlcov/
*.cover
*.log

# MyPy
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Docker
.env.docker
docker-compose.override.yml

# Secrets
secrets.*